.container {
  width: 100%;
  margin: 0 15px;
}
.cabecalhoPrincipal {
  padding: 30px 0;
  position: fixed;
  width: 100%;
  z-index: 99999;
  transition: all 0.2s ease-in-out;
}
.scrollmax {
  background-color: rgba(0, 0, 0, 0);
  padding: 30px 0;
}
.scrollmin {
  background-color: rgba(0, 0, 0, 0.98);
  padding: 10px 0;
}

.logo__devJhon {
  width: 100px;
}
.cabecalhoPrincipal-nav {
  display: flex;
}
.cabecalhoPrincipal-nav-link {
  padding: 10px 10px;
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 200;
  display: block;
  transition: 0.5s;
}
.cabecalhoPrincipal-nav-link:hover {
  color: #ff9700;
}

.cabecalhoPrincipal .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
