/* Ajuste para telas (Tablets) */
@media screen and (min-width: 481px) {
  .cabecalhoPrincipal .container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 769px) {
  .logo__devJhon {
    width: 150px;
  }
  .cabecalhoPrincipal-nav-link {
    font-size: 1.3rem;
  }
}
