/*:root{
	--primary: rgba(0,0,0, 0.35);
	--secondary: rgba(67,67,67, 0.35);
}*/
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
p {
  padding: 10px 0;
}
.bannerInicio {
  background-image: url("../imagens/bg-image02.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.containerInicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}
.title-principal {
  color: #fff;
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
}
.title-descricao-inicio {
  color: #fff;
  font-weight: 100;
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 0;
}

.cta-principal {
  border: 2px solid #fff;
  border-radius: 5px;
  text-align: center;
  margin: 3rem 0;
  text-decoration: none;
  font-weight: 200;
  color: #fff;
  padding: 10px;
  transition: 0.2s;
  width: 15%;
  font-size: 1.5rem;
}
.cta-principal:hover {
  background-color: #fff;
  color: #000;
}
/* -- Primeira section Sobre mim */
.sobre {
  padding: 3rem 10rem;
}

.containerAbout {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.img-aboutMe {
  background: url("../imagens/joao-perfil.jpg") no-repeat center/cover;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  box-shadow: 3px 3px 8px #000;
}
.title-aboutMe {
  color: #000;
  font-size: 3rem;
  margin: 1rem 0;
  font-weight: 200;
  text-align: center;
}
.textAbout {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 24px;
  text-align: inherit;
}

.title-descricao {
  font-size: 3rem;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}
.heading-decoration {
  width: 20%;
}

.escolha-cores {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -- Skills --*/
.title-descricao {
  color: #000;
  font-size: 3rem;
  margin: 2rem 0;
}
.config-interna-list ul {
  list-style: disc;
  padding-left: 1.1rem;
}
.config-firstList {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.config-firstList li {
  padding: 2rem 1.1rem;
  list-style: none;
}
.skills-text {
  font-size: 1.2rem;
  font-weight: 200;
  padding: 2.7rem 3rem;
  text-align: center;
}
/* -- Projetos --*/
.title-descricao-text {
  color: #fff;
  font-size: 3rem;
  margin: 1rem 0;
}
.conteudo-textual p {
  color: #f1f1f1;
  font-size: 1.2rem;
  padding: 0.5rem 0;
}
.section-projetos {
  height: 100vh;
  background: url("../imagens/projetos/bg-image-projetos.jpg") no-repeat
    center/cover fixed;
}
.projetoBackground {
  background: rgba(17, 17, 17, 0.9);
  height: 100vh;
}
.projetos-config {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.title-descricaoProjetos {
  color: #fff;
  font-size: 3rem;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 1rem;
}
.boxEfeito {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  border-radius: 10px;
  transition: 0.2s;
}
.projetos-config a {
  text-decoration: none;
  color: #fff;
}
.descricao-boxs {
  border-radius: 10px;
  width: 100%;
  padding: 24% 0;
  font-weight: 300;
  opacity: 0;
}
.descricao-boxs:hover {
  opacity: 0.9;
  font-weight: 400;
}
.boxEfeito:hover {
  background: rgba(0, 0, 0, 0.3);
}
.boxprojetos01 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 10px 10px;
  align-items: center;
  background: #000;
  transition: 0.4s;
  border-radius: 10px;
  box-shadow: 10px 5px 4px #000;
}
.boxprojetos02 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 10px 10px;
  align-items: center;
  background: #000;
  transition: 0.4s;
  border-radius: 10px;
  box-shadow: 10px 5px 4px #000;
}

.boxprojetos03 {
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin: 10px 10px;
  align-items: center;
  background: #000;
  transition: 0.4s;
  border-radius: 10px;
  box-shadow: 10px 5px 4px #000;
}
.boxprojetos01:hover {
  transform: scale(1.1);
  box-shadow: 20px 10px 8px #000;
}

.boxprojetos02:hover {
  transform: scale(1.1);
  box-shadow: 20px 10px 8px #000;
}
.boxprojetos03:hover {
  transform: scale(1.1);
  box-shadow: 20px 10px 8px #000;
}

/* -- Contato/Footer --*/

.contato {
  padding: 3rem 10rem;
}

.title-descricao-contato {
  color: #000;
  text-align: center;
  font-weight: 200;
  margin: 1rem 0;
}

.contatosInfo {
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  padding: 3rem 0;
}

.contatosInfo p {
  padding: 1rem;
}
.contatosInfo a {
  color: #000;
  text-decoration: none;
}
.contatosInfo a:hover {
  color: #ff9700;
  transition: 0.2s;
}

.rodape {
  background: #191919;
  height: 100px;
}

.copyright-config {
  padding: 2.1rem 1rem;
  color: #fff;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 100;
}
