/*:root{
	--primary: rgba(0,0,0, 0.35);
	--secondary: rgba(67,67,67, 0.35);
}*/
html {
  scroll-behavior: smooth;
}
body {
  /*font-family: "Poppins", sans-serif;*/
  font-family: "rubik", sans-serif;
}
p {
  padding: 10px 0;
}
.bannerInicio {
  background: url("../assets/imagens/bg-image02.jpg") no-repeat center/cover
    fixed;
  height: 100vh;
}
.containerInicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
}
.title-principal {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
}
.title-descricao-inicio {
  border-right: 4px solid;
  width: 25ch;
  overflow: hidden;
  animation: typing 3s steps(25), blinking 0.5s infinite step-end;
  white-space: nowrap;
  color: #fff;
  font-weight: 300;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  margin: 1rem 0;
}

.cta-principal {
  border: 2px solid #fff;
  border-radius: 5px;
  text-align: center;
  margin: 3rem 0;
  text-decoration: none;
  font-weight: 200;
  color: #fff;
  padding: 10px;
  transition: 0.2s;
  width: 100%;
  max-width: 200px;
  font-size: 1.2rem;
}
.cta-principal:hover {
  background-color: #fff;
  color: #000;
}
/* -- Primeira section Sobre mim */
.sobre {
  padding: 3rem 1rem;
}

.containerAbout {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.img-aboutMe {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 3px 3px 8px #000;
}
.title-aboutMe {
  color: #000;
  font-size: 1.5rem;
  margin: 1rem 0;
  font-weight: 400;
  text-align: center;
}
.textAbout {
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
  text-align: inherit;
}

.title {
  font-size: 3rem;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
}
.escolha-cores {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -- Skills --*/
.title-descricao {
  color: #000;
  font-size: 1.5rem;
  margin: 2rem 0;
}
.skills-text {
  font-size: 1rem;
  font-weight: 400;
  text-align: inherit;
}
/* -- Projetos --*/
.section-projetos {
  height: 50vh;
  background: url("../assets/imagens/projetos/bg-image-projetos.jpg") no-repeat
    center/cover fixed;
}
.projetoBackground {
  background: rgba(17, 17, 17, 0.9);
  height: 50vh;
}
.projeto__align {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px;
}
.title__projetos {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
.loading__projeto {
  width: 100px;
  height: 100px;
  border: 20px solid rgba(255, 255, 255, 0.1);
  border-top-color: #ff9700;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.text-loading {
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  border-right: 4px solid;
  width: 10ch;
  overflow: hidden;
  animation: loading 3s steps(10), blinking 0.3s infinite step-end;
  white-space: nowrap;
}
/* -- Contato/Footer --*/

.contato {
  background-color: #222222;
  padding: 3rem 1rem;
}

.title-descricao-contato {
  color: #fff;
  text-align: center;
  font-weight: 200;
  margin: 1rem 0;
}

.contatosInfo {
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  padding: 3rem 0;
}

.contatosInfo p {
  padding: 1rem;
}
.contatosInfo a {
  color: #fff;
  text-decoration: none;
}
.contatosInfo a:hover {
  color: #ff9700;
  transition: 0.2s;
}

.rodape {
  background: #191919;
  height: 100px;
}

.copyright-config {
  padding: 2.1rem 1rem;
  color: #fff;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 100;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 25ch;
  }
}
@keyframes loading {
  from {
    width: 0;
  }
  to {
    width: 10ch;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
